.Button{
    width: 100px;
}

.DropDown{

}
div{
    margin-bottom: 20px;
}

p{
    margin: 40px
}

input{
    text-align: left;
    width: 150px
}
label{
    display: inline-block;
    width: 320px;
    text-align: left;
}

h1{
    color: #CE4A7EFF;
    font-family: "Agency FB", serif;
    font-size: 100px;


}

.CheckBox{
    padding-left: 40px;
}

.container{
    padding: 50px 50px 50px 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 250px;

}
.small{
    display: grid;
    grid-template-columns: auto auto;
}

input[type=text] {
    border: none;
    color: white;
    border-bottom: 2px solid white;
    user-focus: white;
}

.Select{
    color: white;
    border-bottom: 2px solid white;
    user-focus: white;
}